@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

body{

}

.header {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__information{

}
.header__information span{
    font-family: "EncodeSans-Bold";
}
.header__login{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.header__login img{
    width: 100%;

}
.nav{
    /* background: red; */
    display: flex;
    padding: var(--space-layout-padding-lr);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav__search{
    /* background: purple; */
    position: relative;
}

.nav__search input{
    outline: none;
    width: 260px;
    height: 45px;
    border-radius: 10px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border: 1px solid var(--color-3);
}

.search__icon{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: .8rem;
    user-select: none;
    cursor: pointer;
}

.nav__filter{
    background-color: var(--color-1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
}

.nav__filter img{
    width: 20px;
    position: absolute;
    inset: 0;
    margin: auto;

}

.main {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: 15px;
}
.main__nav {
    /* background: violet; */
    padding: 10px; 
}
.nav__ul{
    /* background: darkgray; */
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    /* padding-bottom: 5px; */
}

.nav__ul li{
    list-style: none;
}

.nav__ul li a {
    /* background: orange; */
    width: 105px;
    height: 35px;
    font-family: "EncodeSans-Medium";
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    background: var(--color-1);
    color: var(--color-5);
    border: 1px solid var(--color-3);
}

.nav__ul li a:hover{
    /* background: var(--color-3); */
    filter: invert(1);
    transition: 0.25s;
}


.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: var(--space-layout-padding-lr);

}
.footer__ul {

    background: var(--color-2);
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 40px;

}
.footer__ul li{
    list-style: none;
    background: var(--color-1);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__ul li a {
    width: 24px;
    height: 24px;
}

