<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <img src="../storage/img/back.svg" >
        <strong>Checkout</strong>
        <img src="../storage/img/sidebar.svg">
    </header>
    <main class="main">
        <section class="main__section">
            <div class="main_img">
                <img src="../storage/img/img3.png">
            </div>
            <article class="main__article">
                <strong>Modern light clothes</strong>
                <p>Dress modern</p><br>
                <strong>$212.99</strong>
            </article>
            <article class="main__article">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div><br><br>
                <div class="quantify">
                    <img src="../storage/img/minusAlone.svg">
                    4
                    <img src="../storage/img/plusAlone.svg">
                </div>
            </article>
        </section>
        <hr>
        <section class="main__section">
            <div class="main_img">
                <img src="../storage/img/img1.png">
            </div>
            <article class="main__article">
                <strong>Modern light clothes</strong>
                <p>Dress modern</p><br>
                <strong>$212.99</strong>
            </article>
            <article class="main__article">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div><br><br>
                <div class="quantify">
                    <img src="../storage/img/minusAlone.svg">
                    1
                    <img src="../storage/img/plusAlone.svg">
                </div>
            </article>
        </section>
        <hr>
        <section class="main__section">
            <div class="main_img">
                <img src="../storage/img/img2.png">
            </div>
            <article class="main__article">
                <strong>Modern light clothes</strong>
                <p>Dress modern</p><br>
                <strong>$212.99</strong>
            </article>
            <article class="main__article">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div><br><br>
                <div class="quantify">
                    <img src="../storage/img/minusAlone.svg">
                    4
                    <img src="../storage/img/plusAlone.svg">
                </div>
            </article>
        </section>
        <section class="second__main_section">
            <strong>Shipping Iformation</strong>
        </section>
    </main>
</body>
</html>